<html class="has-background-info-light">
<head>
  <title>hire.me</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
  <header class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="navbar">
          <div class="navbar-brand">
            <h1 class="navbar-item title is-size-2 has-text-link">hire.me</h1>
            <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="navbar-menu is-primary" id="navMenu">
            <div class="navbar-end is-primary">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" style=" background-color: hsl(171, 100%, 41%);">Menu</a>
                <div class="navbar-dropdown has-text-centered is-centered is-primary" style="background-color: hsl(171, 100%, 41%);">
                  <a href="#" class="navbar-item has-text-centered">Build your Resume</a>
                  <a href="#" class="navbar-item has-text-centered">Check out some example portfolios</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section has-background-info-light">
    <div class="container">
      <div class="columns is-mobile is-centered">
        <div class="column is-one-third has-text-centered">
          <p class="has-text-centered">Already have an account?</p>
          <br>
          <a class="button has-text-centered is-primary" href="./login">Click Here</a>

        </div>
          <div id="loginform" class="field is-centered column is-two-third">
            <div class="control is-centered">
              <h2 class="title has-text-centered ">Create an account</h2>
              <p class="is-size-4 has-text-centered">Email</p>
              <div class="has-text-centered is-centered">
               <input type="text" class="form-input" id="emailInput" placeholder="Please enter your email">
              </div>
            </div>
            <div class="control is-center">
              <p class="is-size-4 has-text-centered">Password</p>
              <div class="has-text-centered is-centered">
                <input type="text" class="form-input" id="passwordInput" placeholder="Please enter your password">
              </div>
              <br>
              <br>
                <div class="has-text-centered">
                  <button  id="signupbtn" class="button is-primary is-center signup-form">Create your login</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../js/signup.js"></script>
</body>
</html>